body {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
  color: #ecd5b7;
}

#root, #root > div, .main {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__bg {
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url("../../../assets/book_case_tilt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.main__overlay {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(36, 21, 21, 0.1), rgba(36, 21, 21, 0.9) 20%, rgba(36, 21, 21, 0.9) 80%, rgba(36, 21, 21, 0.1));
}

.main__outlet-holder {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100%;
  z-index: 2;
}

#root {
  min-height: 100%;
  min-width: 100%;
}

h1, h2, h3, h4, h5 {
  color: #e9e1d7;
}

.btn {
  height: 3em;
  min-width: 7em;
  background-color: #e9c595;
  color: #1d1a15;
  font-weight: 900;
  transition: ease-in 100ms;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  transition: ease-in 100ms;
}

.btn:hover {
  cursor: pointer;
  transition: ease-in 200ms;
  box-shadow: 0 0 1px 1px rgb(214, 156, 156);
  transform: scale(1.05);
}

.btn:active {
  transform: rotate(10deg);
  transition: ease-in 50ms;
}

.danger {
  background-color: salmon;
  border: 1px solid rgb(238, 34, 34);
}

.small {
  font-size: small;
  height: 1.5em;
  width: 5em;
  font-weight: 400;
  border-radius: 0;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  color: #ecd5b7;
  padding: 5px;
  min-width: 5em;
  transition: ease-in 200ms;
}

option {
  color: black;
}

select:hover {
  cursor: pointer;
  transition: ease-in 200ms;
  border-bottom: 2px solid black;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fffdf9;
  height: 3em;
  font-size: large;
  font-weight: 700;
  min-width: 20em;
  background-color: inherit;
  color: #ecd5b7;
  outline: none;
  transition: all 100ms ease-in;
}

.input:focus {
  transform: scaleX(1.1) translateX(5%);
  border-bottom: 2px solid #ecd5b7;
  color: white;
  transition: all ease-in 100ms;
}

textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fffdf9;
  background-color: inherit;
  color: #ecd5b7;
  min-height: 7.5em;
  min-width: 20em;
  outline: none;
}

textarea:focus {
  transform: scaleX(1.05) translateX(5%);
  border-bottom: 2px solid #ecd5b7;
  color: white;
  transition: all ease-in 100ms;
}

.title-form__text-fields {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.navbar {
  z-index: 3;
  position: sticky;
  top: 0px;
  left: 0px;
  min-height: fit-content;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #241515;
  border-bottom: white 1px solid;
  color: #ecd5b7;
}

.navbar h1:hover {
  cursor: pointer;
  transition: ease-in 200ms;
  letter-spacing: 5px;
}

.navbar h1 {
  transition: all ease-in 200ms;
}

.navbar__nav-elements {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: right;
}

.nav-element {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9em;
  transition: ease-in-out 200ms;
}

.nav-element h4 {
  transition: ease 200ms;
}

.nav-element:hover h4 {
  transform: scale(1.05);
  letter-spacing: 5px;
  color: #1d1a15;
  transition: transform ease-in 200ms;
}

.nav-element:hover {
  cursor: pointer;
  transition: ease-in 200ms;
  background-color: #b6b3b3;
}

.book-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.book-page h2, .book-page__description {
  text-align: center;
}

.book-search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fffdf9;
  height: 3em;
  font-size: large;
  font-weight: 700;
  min-width: 20em;
  background-color: inherit;
  color: #ecd5b7;
  outline: none;
  transition: all 100ms ease-in;
  text-align: center;
}

.books-page__inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding-left: 5em;
  padding-right: 5em;
}

.book-page__headers {
  display: flex;
  flex-direction: column;
}

.book-card-small {
  perspective: 5px;
  min-height: 15em;
  width: 15em;
  padding: 1em;
  background-image: url("../../../assets/open_book.jpg");
  background-position: center;
  background-size: contain;
  color: yellow;
  border-radius: 1em;
  border: 1px rgb(170, 166, 166) solid;
  transition: all ease-out 200ms;
  text-align: center;
}

.book-card-small:hover {
  cursor: pointer;
  transition-duration: 300ms;
}

.book-card-small:hover .overlay {
  background-color: rgba(36, 21, 21, 0);
  transition: all 200ms ease-in;
}

.book-card-small:hover .book-card-small__details p {
  font-weight: 700;
  color: #fffdf9;
  transition: all 100ms ease-in;
}

.book-card-small:hover .book-card-small__details h4 {
  letter-spacing: 5px;
  transition: all 100ms ease-in;
}

.book-card-small .glow {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 50% -20%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0.0588235294));
  border-radius: 1em;
}

.book-card-small .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 21, 21, 0.7);
  border-radius: 1em;
  transition: all 200ms ease-in;
}

.book-card-small__details {
  position: relative;
  z-index: 1;
  transition: all 100ms ease-in;
}

.book-card-small__details h4 {
  color: yellow;
}

.book-card-small__details p {
  color: #ecd5b7;
}

.books-page__books-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.book-page__categories {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.book-page__categories__category {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
}

.book-page__categories__category .btn {
  margin: auto 0;
}

.book-page__headers__authors {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
}

.authors__author {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
}

.authors__author .btn {
  margin: auto 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.book-page__admin-actions {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.book-page__make-loan {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin-bottom: 4em;
}

.pagination-form-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ecd5b7;
}

.pagination-form-normal h4 {
  text-align: center;
}

.pagination-form-normal__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  width: 100%;
}

.pagination-form-small {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ecd5b7;
}

.pagination-form-small h4 {
  visibility: hidden;
  margin: 0;
}

.pagination-form-small__actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: 1em;
  width: 100%;
}

.pagination-form-small__actions .btn {
  width: 3em;
  min-width: 0px;
  height: 2em;
  font-size: small;
}

.categories-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.category-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.category-page__books-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.categories-page__categories-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.category-card-small {
  transition: all 200ms;
  height: 3em;
  width: 10em;
  border-radius: 1em;
  background-color: #ecd5b7;
  color: #241515;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.category-card-small:hover {
  cursor: pointer;
  background-color: #241515;
  color: #ecd5b7;
  transition: all 200ms;
}

.category-card-large {
  perspective: 5px;
  min-height: 15em;
  width: 15em;
  padding: 1em;
  background-image: url("../../assets/book_case_straight.jpg");
  background-position: center;
  background-size: contain;
  color: yellow;
  border-radius: 1em;
  border: 1px rgb(170, 166, 166) solid;
  transition: all ease-out 200ms;
}

.category-card-large h4 {
  font-size: larger;
  transition: all 200ms ease-in;
}

.category-card-large:hover {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  transition: all 200ms ease-in;
}

.category-card-large:hover .overlay {
  background-image: linear-gradient(45deg, rgba(36, 21, 21, 0.6) 50%, rgba(182, 179, 179, 0.8));
  transition: all 200ms ease-in;
}

.category-card-large:hover h4 {
  letter-spacing: 5px;
  transition: all 200ms ease-in;
}

.category-card-large .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: rgba(36, 21, 21, 0.5);
}

.category-card-large .details {
  position: relative;
  z-index: 1;
}

.closed {
  visibility: hidden;
  top: 0;
  transition: all 500ms;
}

.open {
  visibility: visible;
  top: 14%;
  transition: top 200ms ease-in;
}

.normal {
  background-color: bisque;
  border: 1px solid rgb(238, 146, 34);
}

.error {
  background-color: salmon;
  border: 1px solid rgb(238, 34, 34);
}

.notification {
  z-index: 4;
  min-height: 3em;
  min-width: 15em;
  border-radius: 5px;
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  left: calc(50% - 7.5em);
  font-weight: 700;
  text-align: center;
  color: black;
}

.authors-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.author-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.author-page__authors {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.author-card-large {
  min-height: 15em;
  width: 15em;
  padding: 1em;
  background-image: linear-gradient(45deg, rgba(36, 21, 21, 0.6) 50%, rgba(182, 179, 179, 0.8));
  color: yellow;
  border-radius: 1em;
  border: 1px rgb(170, 166, 166) solid;
  transition: all ease-in 200ms;
}

.author-card-large:hover {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  background-image: linear-gradient(45deg, #241515 50%, #b6b3b3);
  transition: all ease-in 200ms;
}

.author-card-large h4 {
  font-size: larger;
}

.author-card-small {
  transition: all 200ms;
  height: 3em;
  width: 10em;
  border-radius: 1em;
  background-color: #ecd5b7;
  color: #241515;
  font-weight: 700;
  text-align: center;
}

.author-card-small:hover {
  cursor: pointer;
  background-color: #241515;
  color: #ecd5b7;
  transition: all 200ms;
}

.loan-page {
  display: flex;
  flex-direction: column;
  padding-top: 2.5em;
}

.loan-page__loans-wrapper {
  padding-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
}

.loan-page__filter-options {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  width: 90%;
  justify-content: center;
}

.loan-card-small {
  perspective: 5px;
  min-height: 15em;
  width: 15em;
  padding: 1em;
  background-image: url("../../../assets/blank_wood_bg.jpg");
  background-position: center;
  background-size: contain;
  color: yellow;
  border-radius: 1em;
  border: 1px rgb(170, 166, 166) solid;
  transition: all ease-out 200ms;
}

.loan-card-small:hover {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
}

.loan-card-small:hover .overlay {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  background-image: linear-gradient(45deg, rgba(36, 21, 21, 0.6) 50%, rgba(182, 179, 179, 0.8));
  transition: all 200ms ease-in;
}

.loan-card-small .overlay {
  position: absolute;
  border-radius: 1em;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(36, 21, 21, 0.4) 50%, rgba(182, 179, 179, 0.4));
}

.loan-card-small .details {
  text-align: center;
  position: relative;
  z-index: 1;
}

.login-page {
  z-index: 2;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  row-gap: 5em;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
}

.user-form h1 {
  text-align: center;
}

.user-form__submit-button {
  text-align: center;
}

.profile-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.profile-page__actions {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.profile-page__actions .loans-link {
  transition: all 200ms;
  height: 3em;
  width: 10em;
  border-radius: 1em;
  background-color: #ecd5b7;
  color: #241515;
  display: flex;
  align-items: center;
}

.loans-link h4 {
  color: #241515;
  margin: auto;
}

.profile-page__actions .loans-link:hover {
  cursor: pointer;
  background-color: #241515;
  color: #ecd5b7;
  transition: all 200ms;
}

.loans-link:hover h4 {
  color: #ecd5b7;
}

.publishers-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.publisher-page {
  min-width: 50%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.publisher-page__books {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.publisher-page__publishers {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.publisher-card {
  min-height: 15em;
  width: 15em;
  padding: 1em;
  background-image: linear-gradient(45deg, rgba(36, 21, 21, 0.6) 50%, rgba(182, 179, 179, 0.8));
  color: yellow;
  border-radius: 1em;
  border: 1px rgb(170, 166, 166) solid;
  transition: all ease-in 200ms;
}

.publisher-card:hover {
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  background-image: linear-gradient(45deg, #241515 50%, #b6b3b3);
  transition: all ease-in 200ms;
}

.publisher-card h4 {
  font-size: larger;
}

/*# sourceMappingURL=styles.css.map */
