@import "./variables.scss";

@mixin button() {
    height: 3em;
    min-width: 7em;
    background-color: $button_bg;
    color: $font_color_dark;
    font-weight: 900;
    transition: ease-in 100ms;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: ease-in 100ms;
}

@mixin basic-hover() {
    cursor: pointer;
    transition: ease-in 200ms;
}

@mixin select() {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: $nav_font_color_light;
    padding: 5px;
    min-width: 5em;
}

@mixin card($bg-position, $bg-url) {
    perspective: 5px;
    min-height: 15em;
    width: 15em;
    padding: 1em;
    background-image: url($bg_url);
    background-position: $bg-position;
    background-size: contain;
    color: yellow;
    border-radius: 1em;
    border: 1px rgb(170, 166, 166) solid;
    transition: all ease-out 200ms;
}

@mixin card-hover() {
    cursor: pointer;
}

@mixin card-small() {
    transition: all 200ms;
    height: 3em;
    width: 10em;
    border-radius: 1em;
    background-color: $nav_font_color_light;
    color: $base_bg_dark;
}

@mixin card-small-hover {
    cursor: pointer;
    background-color: $base_bg_dark;
    color: $nav_font_color_light;
    transition: all 200ms;
}

@mixin pagination-base {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $nav_font_color_light
}