@import "./variables.scss";

@mixin button() {
    height: 3em;
    min-width: 7em;
    background-color: $button_bg;
    color: $font_color_dark;
    font-weight: 900;
    transition: ease-in 100ms;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: ease-in 100ms;
}

@mixin basic-hover() {
    cursor: pointer;
    transition: ease-in-out 200ms;
}

@mixin select() {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    padding: 5px;
    min-width: 5em;
}

@mixin card() {
    perspective: 1500px;
    min-height: 15em;
    width: 15em;
    padding: 1em;
    background-color: rgba($color: $base_bg_dark, $alpha: 0.5);
    color: $font_color_dark;
    border-radius: 1em;
    border: 1px white solid;
    box-shadow: 0 1px 5px #00000099;
    transition: all ease-out 200ms;
}

@mixin card-hover() {
    background-color: desaturate($color: $base_bg_dark, $amount: 50);
    color: adjust-hue($color: $font_color_light, $degrees: 50);
    transition: all ease-in 200ms;
}