$base_bg: #f8efef;
$base_bg_dark: #241515;

$base_bg_light_variation: #b6b3b3;

$nav_font_color_light: #ecd5b7;
$font_color_light: #e9e1d7;
$font_color_dark: #1d1a15;

$button_hover: rgb(214, 156, 156);
$button_bg: #e9c595;