@import "../abstraction/variables.scss";
@import "../abstraction/mixins.scss";

.authors-page {
    @include base-page-layout();
}
.author-page {
    @include base-page-layout();
}
.author-page__authors {
    @include base-wrapper();
}
.author-card-large {
    min-height: 15em;
    width: 15em;
    padding: 1em;
    background-image: linear-gradient(45deg, rgba($base_bg_dark, 0.6) 50%, rgba($base_bg_light_variation, 0.8));
    color: yellow;
    border-radius: 1em;
    border: 1px rgb(170, 166, 166) solid;
    transition: all ease-in 200ms;
}
.author-card-large:hover {
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
    background-image: linear-gradient(45deg, $base_bg_dark 50%, $base_bg_light_variation);
    transition: all ease-in 200ms;
}
.author-card-large h4 {
    font-size: larger;
}
.author-card-small {
    @include card-small();
    font-weight: 700;
    text-align: center;
}
.author-card-small:hover {
    @include card-small-hover();
}