@import "../abstraction/variables.scss";

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    color: $nav_font_color_light;
}

#root, #root > div, .main {
    height: 100%;
    width: 100%;
}
html {
    height: 100%;
}