@import "../abstraction/variables.scss";

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    background-image: url("../../../assets/book_case_tilt.jpg");
    background-position: center;
    background-size: fill;
    color: $nav_font_color_light;
}
html {
    height: 100%;
}