@import "../abstraction/mixins.scss";

.book-page {
    @include base-page-layout();
}
.book-page h2, .book-page__description {
    text-align: center;
}
.book-search {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $nav_font_color_light_var1;
    height: 3em;
    font-size: large;
    font-weight: 700;
    min-width: 20em;
    background-color: inherit;
    color: $nav_font_color_light;
    outline: none;
    transition: all 100ms ease-in;
    text-align: center;
}
.books-page__books-wrapper{
    @include base-wrapper();
}
.books-page__inner-wrap {
    display: flex;
    flex-direction: column;
}
.book-page__headers {
    display: flex;
    flex-direction: column;
}
.book-card-small {
    @include card(center, "../../../assets/open_book.jpg");
    text-align: center;
}
.book-card-small:hover {
    @include card-hover();
    transition-duration: 300ms;
}
.book-card-small:hover .overlay {
    background-color: rgba($base_bg_dark, 0);
    transition: all 200ms ease-in;
}
.book-card-small:hover .book-card-small__details p {
    font-weight: 700;
    color: $nav_font_color_light_var1;
    transition: all 100ms ease-in;
}
.book-card-small:hover .book-card-small__details h4 {
    letter-spacing: 5px;
    transition: all 100ms ease-in;
}
.book-card-small .glow {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle at 50% -20%, #ffffff55, #0000000f);
    border-radius: 1em;
}
.book-card-small .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba($base_bg_dark, 0.7);
    border-radius: 1em;
    transition: all 200ms ease-in;
}
.book-card-small__details {
    position: relative;
    z-index: 1;
    transition: all 100ms ease-in;
}
.book-card-small__details h4 {
    color: yellow
}
.book-card-small__details p {
    color: $nav_font_color_light;
}
.books-page__books-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content:center;
}
.book-page__categories {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}
.book-page__categories__category {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}
.book-page__categories__category .btn {
    margin: auto 0;
}
.book-page__headers__authors {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}
.authors__author {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}
.authors__author .btn {
    margin: auto 0;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.book-page__admin-actions {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.book-page__make-loan {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin-bottom: 4em;
}