@import "../abstraction/variables.scss";
@import "../abstraction/mixins.scss";

.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $base_bg_dark;
    border-bottom: white 1px solid;
    color: $nav_font_color_light
}
.navbar h1:hover {
    @include basic-hover();
    transform: scale(1.05);
}

.navbar__nav-elements {
    display: flex;
    flex-direction: row;
    column-gap: 5em;
    justify-content: space-evenly;
}

.nav-element {
    margin: auto;
    padding: 1em;
    width: 5em;
    transition: ease-in-out 200ms;
}
.nav-element h4 {
    text-align: center;
    transition: ease 100ms;
}
.nav-element:hover h4 {
    transform: scale(1.2);
    transition: transform ease-in 200ms;
}
.nav-element:hover {
    @include basic-hover();
    background-color: $base_bg;
    color: $font_color_dark;
}
