@import "../abstraction/mixins.scss";
@import "../abstraction/variables.scss";

.publishers-page {
    @include base-page-layout();
}
.publisher-page {
    @include base-page-layout();
}
.publisher-page__books {
    @include base-wrapper();
}
.publisher-page__publishers {
    @include base-wrapper();
}

.publisher-card {
    min-height: 15em;
    width: 15em;
    padding: 1em;
    background-image: linear-gradient(45deg, rgba($base_bg_dark, 0.6) 50%, rgba($base_bg_light_variation, 0.8));
    color: yellow;
    border-radius: 1em;
    border: 1px rgb(170, 166, 166) solid;
    transition: all ease-in 200ms;
}
.publisher-card:hover {
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
    background-image: linear-gradient(45deg, $base_bg_dark 50%, $base_bg_light_variation);
    transition: all ease-in 200ms;
}
.publisher-card h4 {
    font-size: larger;
}
