@import "../abstraction/mixins.scss";
@import "../abstraction/variables.scss";

.publishers-page {
    min-width: 50%;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.publisher-page {
    min-width: 50%;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.publisher-page__books {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content:center;
}
.publisher-page__publishers {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content:center;
}

.publisher-card {
    min-height: 15em;
    width: 15em;
    padding: 1em;
    background-image: linear-gradient(45deg, rgba($base_bg_dark, 0.6) 50%, rgba($base_bg_light_variation, 0.8));
    color: yellow;
    border-radius: 1em;
    border: 1px rgb(170, 166, 166) solid;
    transition: all ease-in 200ms;
}
.publisher-card:hover {
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
    background-image: linear-gradient(45deg, $base_bg_dark 50%, $base_bg_light_variation);
    transition: all ease-in 200ms;
}
.publisher-card h4 {
    font-size: larger;
}
